@model List<Post>

@{
    @* MUST ADD LINE EXTRA CODE TO _ViewImports to be able to access session from view *@
    @* Otherwise, need to put the logged in user id in ViewBag *@
    int loggedInUserId = (int)Context.Session.GetInt32("UserId");
}

<h2 class="text-center">All Posts</h2>

@foreach (Post post in Model)
{
    @* not at symbol needed here because we haven't started writing HTML yet inside the foreach *@
    bool alreadyUpvoted = post.Votes.Any(vote => vote.UserId == loggedInUserId && vote.IsUpvote == true);
    bool alreadyDownvoted = post.Votes.Any(vote => vote.UserId == loggedInUserId && vote.IsUpvote == false);


    <div class="card mx-auto text-center mb-3 w-50">
    <div class="card-header">
        <h5 class="card-title">@post.Topic</h5>
    </div>

    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
            <a asp-controller="Posts" asp-action="AuthorPage"
                asp-route-userId="@post.Author.UserId">@post.Author.FullName()</a>
        </h6>

        <p class="card-text">@post.Body</p>

        <a asp-action="Details" asp-controller="Posts" asp-route-postId='@post.PostId'>Details</a>

        @if (loggedInUserId == post.UserId)
            {
                <a class="text-warning" asp-action="Edit" asp-controller="Posts" asp-route-postId='@post.PostId'>Edit</a>
            }

            <a class="text-danger" asp-controller="Posts" asp-action="Delete" asp-route-postId="@post.PostId">Delete</a>

            <div class="row justify-content-center">
                <form method="POST" asp-controller="Posts" asp-action="Vote" asp-route-postId="@post.PostId"
                    asp-route-isUpvote="true">
                    <button disabled="@alreadyUpvoted" class="btn btn-link text-success">
                        <span class="h1">&uarr;</span>
                    </button>
                </form>

                <form method="POST" asp-controller="Posts" asp-action="Vote" asp-route-postId="@post.PostId"
                    asp-route-isUpvote="false">
                    <button disabled="@alreadyDownvoted" class="btn btn-link text-danger">
                        <span class="h1">&darr;</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
}
